@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*paleta de cores*/

}
body{
    width: 100%;
    margin: 0;
    padding: 0%;
}
div#interface{
    width: 100%;
    display: grid;
    grid-template-rows: 44px auto auto;
    grid-template-columns: 200pt auto 200px;
    row-gap: 20px;
}

/*barra de navegação*/
nav#menu{
    /*proibir seleção*/
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: aqua;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
 
nav#menu ul a{
    text-decoration: none;
    background-color: #333;
    width: 100px;
    padding: 20px;
    margin-top: 10px;
    transition: .3s;
}
nav#menu ul a:hover{
    background-color: brown;
    transition: .3s;

}
li{
    list-style: none;
    display: inline;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
}

/*conteúdo*/
div#cont-total{
    padding-top: 15px;
    /*posicionamento*/
    border: 2px solid #000;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;


    /*criação de grid interno*/
    display: grid;
    grid-template-rows: 100px 100px auto 2fr;
    grid-template-columns: 1fr 1fr 4fr 4fr 1fr;
}

div#cabecalho{

    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    /*criação de grid para cabeçalho*/
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr 4fr 4fr;
}
div#main{
    background-color: brown;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
div#titulo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
h1{
    display: flex;

  align-items: center;
}
img#logo{
    width: 75px;
    border-radius: 50%;
}
div#img {
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   margin: auto;

    bottom: 10;
    align-items: center;
    
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
footer{
    background-color: chartreuse;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}
div#nota{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
/*só verificando se ta tudo certo*/